## A.1.1

In [9]:
library(foreign)

## A.1.2 Change directory

In [10]:
path = getwd()
file_loc = paste(path,'/hh02dta_bc', sep="")
c_ls_path = paste(file_loc, '/c_ls.dta',sep="")
c_portad_path = paste(file_loc, '/c_portad.dta',sep="")

### A.1.3.1 Merge data

In [11]:
df = read.dta(c_ls_path)
df_size = read.dta(c_portad_path)

In [12]:
merged = merge(df,df_size, by="folio")

## A.2 Examine data

In [13]:
head(df, 5)

  folio ls secuencia ls00 ls02_1 ls02_2 ls03_1 ls03_21 ls03_22 ls04 ⋯ ls09 ls10
1 1000  1  1         1    1      37     NA     NA      NA      1    ⋯ 1     5
2 1000  2  2         2    1      35     NA     NA      NA      3    ⋯ 1     5
3 1000  3  3         3    1      16     NA     NA      NA      3    ⋯ 1     6
4 1000  4  4         4    1      11     NA     NA      NA      1    ⋯ 1    NA
5 2000  1  1         1    1      40     NA     NA      NA      1    ⋯ 1     1
  ls11 ls12 ls13_1 ls13_2 ls14 ls15_1 ls16 ls18
1  2   1     1     32000  3     6     3    NA
2  1   3    NA        NA  1    NA     3    NA
3 NA   3    NA        NA  6     0     1     2
4 NA   3    NA        NA  3     4     1     2
5  2   1     1     43200  4     3     3    NA

### A.2.2 Show information on variables

In [14]:
str(df)

'data.frame':	35677 obs. of  24 variables:
 $ folio    : num  1000 1000 1000 1000 2000 2000 2000 2000 2000 3000 ...
 $ ls       : num  1 2 3 4 1 2 3 4 5 1 ...
 $ secuencia: num  1 2 3 4 1 2 3 4 5 1 ...
 $ ls00     : num  1 2 3 4 1 2 3 4 5 1 ...
 $ ls02_1   : num  1 1 1 1 1 1 1 1 1 1 ...
 $ ls02_2   : num  37 35 16 11 40 42 19 17 6 48 ...
 $ ls03_1   : num  NA NA NA NA NA NA NA NA NA NA ...
 $ ls03_21  : num  NA NA NA NA NA NA NA NA NA NA ...
 $ ls03_22  : num  NA NA NA NA NA NA NA NA NA NA ...
 $ ls04     : num  1 3 3 1 1 3 3 3 1 1 ...
 $ ls05_1   : num  1 2 3 3 1 2 3 3 13 1 ...
 $ ls06     : num  51 51 1 1 51 51 1 1 51 51 ...
 $ ls07     : num  51 51 2 2 51 51 2 2 51 8 ...
 $ ls08     : num  99 99 99 2 99 99 99 99 2 99 ...
 $ ls09     : num  1 1 1 1 1 1 1 1 1 1 ...
 $ ls10     : num  5 5 6 NA 1 1 6 6 NA 5 ...
 $ ls11     : num  2 1 NA NA 2 1 NA NA NA 2 ...
 $ ls12     : num  1 3 3 3 1 1 3 3 3 1 ...
 $ ls13_1   : num  1 NA NA NA 1 1 NA NA NA 1 ...
 $ ls13_2   : num  32000 NA NA NA 43200 4800 NA NA NA 26000 ...
 $ ls14     : num  3 1 6 3 4 4 6 6 2 3 ...
 $ ls15_1   : num  6 NA 0 4 3 3 3 1 NA 3 ...
 $ ls16     : num  3 3 1 1 3 3 3 1 1 3 ...
 $ ls18     : num  NA NA 2 2 NA NA NA 1 1 NA ...
 - attr(*, "datalabel")= chr "VERSION (ene 19)"
 - attr(*, "time.stamp")= chr "20 Dec 2004 19:18"
 - attr(*, "formats")= chr  "%9.0g" "%9.0g" "%9.0g" "%9.0g" ...
 - attr(*, "types")= int  254 254 254 254 254 254 254 254 254 254 ...
 - attr(*, "val.labels")= chr  "" "" "" "" ...
 - attr(*, "var.labels")= chr  "HOUSEHOLD ID" "INDIVIDUAL ID" "SEQUENCE" "INDIVIDUAL ID" ...
 - attr(*, "version")= int 8

## A.3 Drop ages other than 5-14

In [15]:
ages_5to14 <- df[which(df$ls02_2>4 & df$ls02_2<15),]

### A.3.1 Replace non-attendance number 3 to 0

In [16]:
ages_5to14$ls16[ages_5to14$ls16==3]=0

# Q.1
## What proportion of children between the ages of 5 and 14 are enrolled in school?

In [21]:
q1_answer <- as.data.frame.matrix(table(ages_5to14$ls02_2, ages_5to14$ls16))
colnames(q1_answer)=c("Attend","Non_attend")
q1_answer$enrolled_pct <- paste(round(q1_answer$Attend/(q1_answer$Attend+q1_answer$Non_attend)*100, 2), "%")
q1_answer

   Attend Non_attend enrolled_pct
5  237    525        31.1 %
6   73    701        9.43 %
7   28    745        3.62 %
8   20    847        2.31 %
9   19    846        2.2 %
10  24    886        2.64 %
11  22    814        2.63 %
12  36    841        4.1 %
13  78    821        8.68 %
14 135    694        16.28 %

# Q.2
## How does the proportion enrolled in school differ by gender?

In [27]:
q2_answer <- as.data.frame.matrix(table(ages_5to14$ls04, ages_5to14$ls16))
colnames(q2_answer)=c("Attend","Non_attend")
q2_answer$enrolled_pct <- paste(round(q2_answer$Attend/(q2_answer$Attend+q2_answer$Non_attend)*100, 2), "%")
rownames(q2_answer) <- c("Male","Female")
q2_answer

       Attend Non_attend enrolled_pct
Male   316    3853       7.58 %
Female 356    3867       8.43 %

# Q.3
## How does the proportion enrolled in school differ by size of zone of residence? 
  - Provide a table or graph. 

Tip:  Estrato contains the size of community and is located in c_portad.dta from the Control Book. 
- Estrato=1 Households located in localities with more than 100,000 inhabitants.
- Estrato=2  Households located in localities with populations between 15,000 and 100,000.
- Estrato=3    Households located in towns with a population between 2,500 and 15,000.

In [29]:
# R
q3_answer <- as.data.frame.matrix(table(merged$estrato, merged$ls16))
colnames(q3_answer)=c("Attend","Non_attend")
q3_answer$enrolled_pct <- paste(round(q3_answer$Attend/(q3_answer$Attend+q3_answer$Non_attend)*100, 2), "%")
rownames(q3_answer) <- c('100k', '100k-15k', '15k-2.5k', '<2.5k')
q3_answer

         Attend Non_attend enrolled_pct
100k     4036   8732       31.61 %
100k-15k  982   1998       32.95 %
15k-2.5k 1102   2374       31.7 %
<2.5k    4379   9304       32 %

# Q.5 
## What proportion of children are working outside the home? 
- Provide evidence on whether children who work outside the home less likely to attend school. 
- Compare this evidence for boys and girls and by size of zone of residence.

In [31]:
# R
q5_answer <- as.data.frame.matrix(table(merged$ls12, merged$ls16))
colnames(q5_answer)=c("Attend","Non_attend")
q5_answer$enrolled_pct <- paste(round(q5_answer$Attend/(q5_answer$Attend+q5_answer$Non_attend)*100, 2), "%")
rownames(q3_answer) <- c('100k', '100k-15k', '15k-2.5k', '<2.5k')
q3_answer

         Attend Non_attend enrolled_pct
100k     4036   8732       31.61 %
100k-15k  982   1998       32.95 %
15k-2.5k 1102   2374       31.7 %
<2.5k    4379   9304       32 %