## A.1.1

In [1]:
import pandas as pd
import os

## A.1.2 Change directory

In [3]:
path = os.getcwd()
file_loc = path+'/hh02dta_bc'
c_ls_path = file_loc+'/c_ls.dta'
c_portad_path =  file_loc+'/c_portad.dta'

### A.1.3.1 Merge data

In [5]:
df = pd.read_stata(c_ls_path)
df_size = pd.read_stata(c_portad_path)
df_size.set_index(['folio','ls'], inplace=True) #This step is important for merging
df.set_index(['folio','ls'], inplace=True) #This step is important for merging

In [6]:
merged = pd.merge(df_size, df, left_index=True, right_index=True)

## A.2 Examine data

In [7]:
df.head(5)

            secuencia  ls00  ls02_1  ls02_2  ls03_1  ls03_21  ls03_22  ls04  \
folio  ls
1000.0 1.0        1.0   1.0     1.0    37.0     NaN      NaN      NaN   1.0
       2.0        2.0   2.0     1.0    35.0     NaN      NaN      NaN   3.0
       3.0        3.0   3.0     1.0    16.0     NaN      NaN      NaN   3.0
       4.0        4.0   4.0     1.0    11.0     NaN      NaN      NaN   1.0
2000.0 1.0        1.0   1.0     1.0    40.0     NaN      NaN      NaN   1.0

            ls05_1  ls06  ...  ls09  ls10  ls11  ls12  ls13_1   ls13_2  ls14  \
folio  ls                 ...
1000.0 1.0     1.0  51.0  ...   1.0   5.0   2.0   1.0     1.0  32000.0   3.0
       2.0     2.0  51.0  ...   1.0   5.0   1.0   3.0     NaN      NaN   1.0
       3.0     3.0   1.0  ...   1.0   6.0   NaN   3.0     NaN      NaN   6.0
       4.0     3.0   1.0  ...   1.0   NaN   NaN   3.0     NaN      NaN   3.0
2000.0 1.0     1.0  51.0  ...   1.0   1.0   2.0   1.0     1.0  43200.0   4.0

            ls15_1  ls16  ls18
folio  ls
1000.0 1.0     6.0   3.0   NaN
       2.0     NaN   3.0   NaN
       3.0     0.0   1.0   2.0
       4.0     4.0   1.0   2.0
2000.0 1.0     3.0   3.0   NaN

[5 rows x 22 columns]

### A.2.2 Show information on variables

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 35677 entries, (1000.0, 1.0) to (10759000.0, 2.0)
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   secuencia  35677 non-null  float32
 1   ls00       35677 non-null  float32
 2   ls02_1     35677 non-null  float32
 3   ls02_2     35624 non-null  float32
 4   ls03_1     53 non-null     float32
 5   ls03_21    42 non-null     float32
 6   ls03_22    42 non-null     float32
 7   ls04       35677 non-null  float32
 8   ls05_1     35677 non-null  float32
 9   ls06       35677 non-null  float32
 10  ls07       35677 non-null  float32
 11  ls08       35677 non-null  float32
 12  ls09       35677 non-null  float32
 13  ls10       25492 non-null  float32
 14  ls11       14269 non-null  float32
 15  ls12       32923 non-null  float32
 16  ls13_1     13098 non-null  float32
 17  ls13_2     10626 non-null  float32
 18  ls14       32925 non-null  float32
 19  ls15_1     25982 non-null  float32
 20  ls16       32914 non-null  float32
 21  ls18       10525 non-null  float32
dtypes: float32(22)
memory usage: 4.4 MB

## A.3 Drop ages other than 5-14

In [9]:
mask = (df['ls02_2']>4) & (df['ls02_2']<15)
ages_5to14 = df.loc[mask]

### A.3.1 Replace non-attendance number 3 to 0

In [10]:
# Python
merged['enrolled_dummy'] = merged['ls16'].map({3:0, 1:1})

# Q.1
## What proportion of children between the ages of 5 and 14 are enrolled in school?

In [12]:
# Python
ages_5to14['enrolled_dummy'] = ages_5to14.ls16.map({3:0, 1:1})
q1_answer = ages_5to14.groupby('ls02_2')[('enrolled_dummy')].mean().to_dict()
pd.DataFrame({'Age': list(q1_answer.keys()),'Pct_attendance': list(q1_answer.values())})

/usr/local/lib/python3.6/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

    Age  Pct_attendance
0   5.0        0.688976
1   6.0        0.905685
2   7.0        0.963777
3   8.0        0.976932
4   9.0        0.978035
5  10.0        0.973626
6  11.0        0.973684
7  12.0        0.958951
8  13.0        0.913237
9  14.0        0.837153

# Q.2
## How does the proportion enrolled in school differ by gender?

In [13]:
# Python
ages_5to14['Sex_dummy'] = ages_5to14.ls04.map({1:'Male', 3:'Female'})
q2_answer = ages_5to14.groupby('Sex_dummy')[('enrolled_dummy')].mean().to_frame()
q2_answer.reset_index(inplace=True)
q2_answer.columns = ['Gender', 'Pct_attendance']
q2_answer

/usr/local/lib/python3.6/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

   Gender  Pct_attendance
0  Female        0.915700
1    Male        0.924202

# Q.3
## How does the proportion enrolled in school differ by size of zone of residence? 
  - Provide a table or graph. 

Tip:  Estrato contains the size of community and is located in c_portad.dta from the Control Book. 
- Estrato=1 Households located in localities with more than 100,000 inhabitants.
- Estrato=2  Households located in localities with populations between 15,000 and 100,000.
- Estrato=3    Households located in towns with a population between 2,500 and 15,000.

In [14]:
# Python
merged['enrolled_dummy'] = merged['ls16'].map({3:0, 1:1})
q3_answer = merged.groupby('estrato')['enrolled_dummy'].mean().to_dict()
q3_answer = pd.DataFrame(list(q3_answer.values()), 
index=['100k', '100k-15k', '15k-2.5k', '<2.5k'],
columns= ['Pct_attendance'])
q3_answer.index.name = 'City size'
q3_answer

           Pct_attendance
City size
100k             0.049459
100k-15k         0.039440
15k-2.5k         0.014790
<2.5k            0.013126

# Q.5 
## What proportion of children are working outside the home? 
- Provide evidence on whether children who work outside the home less likely to attend school. 
- Compare this evidence for boys and girls and by size of zone of residence.

In [15]:
# Python
merged['Worked_dummy'] = merged.ls12.map({1:1, 3:0})
q5_answer = merged.groupby('Worked_dummy')['enrolled_dummy'].mean().to_dict()
q5_answer = pd.DataFrame(list(q5_answer.values()), index=['Worker','Non-worker'],columns= ['Pct_attendance'])
q5_answer

            Pct_attendance
Worker             0.03231
Non-worker         0.02853