## A.1. Import libraries

In [2]:
library(dplyr)
library(readstata13)

## A.2 Set path

In [7]:
path = getwd()
path

[1] "/Users/corybaird/Desktop/3rd/Summer_TA"

## A.3 List all files in dataset

### A.3.1 Lists all the files from 2019 Q1

In [10]:
file_2019Q1 = list.files(paste(path,'/Data/2019 Data/Quarter 1' , sep=''), 
                         #full.names = TRUE
                        )
file_2019Q1

[1] "coe1t119.dta" "coe2t119.dta" "hogt119.dta"  "sdemt119.dta" "vivt119.dta"

### A.3.2 Lists all files from 2019 Q2

In [13]:
file_2019Q2 = list.files(paste(path,'/Data/2019 Data/Quarter 2' , sep=''), 
                         #full.names = TRUE
                        )
file_2019Q2

[1] "COE1T219.dta"        "COE2T219.dta"        "HOGT219.dta"
[4] "hs_err_pid48035.log" "SDEMT219.dta"        "VIVT219.dta"

### A.3.3 Lists all the files from 2018 Q1

In [14]:
file_2018 = list.files(paste(path,'/Data/2018 Data/Quarter 4' , sep=''))
file_2018

[1] "COE1T418.dta" "COE2T418.dta" "HOGT418.dta"  "SDEMT418.dta" "VIVT418.dta"

# 1. Upload 1 dataset

## 1.1. Set folder and file location

- You can also skip this step if you know the full path name of file

In [19]:
folder_2019Q1 = paste(path,'/Data/2019 Data/Quarter 1', sep='') #Sets folder location
sdemt_2019Q1_path = paste(folder_2019Q1, '/sdemt119.dta', sep='') #Sets file location

## 1.2 Read dta

In [23]:
#df_sdemt = read.dta13(sdemt_2019Q1_path) #This line of code is easier but will show some warning messages
df_sdemt = suppressWarnings(read.dta13(sdemt_2019Q1_path)) #This line of code gets rid of warning messages
df_sdemt %>% head(2) #Shows first two observations of the data set

  R_DEF LOC MUN EST EST_D AGEB T_LOC CD_A ENT CON   ... MA48ME1SM P14APOYOS
1 0     1   2   10  117   0    1     1    9   40001 ... 0         0
2 0     1   2   10  117   0    1     1    9   40001 ... 0         0
  SCIAN T_TRA EMP_PPAL TUE_PPAL TRANS_PPAL MH_FIL2 MH_COL SEC_INS
1 18    1     2        2        0          3       6      4
2  6    1     2        2        0          3       2      2

# 2. Select columns

## 2.1 Show all column names

In [32]:
colnames(df_sdemt)

  [1] "R_DEF"      "LOC"        "MUN"        "EST"        "EST_D"
  [6] "AGEB"       "T_LOC"      "CD_A"       "ENT"        "CON"
 [11] "UPM"        "D_SEM"      "N_PRO_VIV"  "V_SEL"      "N_HOG"
 [16] "H_MUD"      "N_ENT"      "PER"        "N_REN"      "C_RES"
 [21] "PAR_C"      "SEX"        "EDA"        "NAC_DIA"    "NAC_MES"
 [26] "NAC_ANIO"   "L_NAC_C"    "CS_P12"     "CS_P13_1"   "CS_P13_2"
 [31] "CS_P14_C"   "CS_P15"     "CS_P16"     "CS_P17"     "N_HIJ"
 [36] "E_CON"      "CS_AD_MOT"  "CS_P20_DES" "CS_AD_DES"  "CS_NR_MOT"
 [41] "CS_P22_DES" "CS_NR_ORI"  "UR"         "ZONA"       "SALARIO"
 [46] "FAC"        "CLASE1"     "CLASE2"     "CLASE3"     "POS_OCU"
 [51] "SEG_SOC"    "RAMA"       "C_OCU11C"   "ING7C"      "DUR9C"
 [56] "EMPLE7C"    "MEDICA5C"   "BUSCAR5C"   "RAMA_EST1"  "RAMA_EST2"
 [61] "DUR_EST"    "AMBITO1"    "AMBITO2"    "TUE1"       "TUE2"
 [66] "TUE3"       "BUSQUEDA"   "D_ANT_LAB"  "D_CEXP_EST" "DUR_DES"
 [71] "SUB_O"      "S_CLASIFI"  "REMUNE2C"   "PRE_ASA"    "TIP_CON"
 [76] "DISPO"      "NODISPO"    "C_INAC5C"   "PNEA_EST"   "NIV_INS"
 [81] "EDA5C"      "EDA7C"      "EDA12C"     "EDA19C"     "HIJ5C"
 [86] "DOMESTICO"  "ANIOS_ESC"  "HRSOCUP"    "INGOCUP"    "ING_X_HRS"
 [91] "TPG_P8A"    "TCCO"       "CP_ANOC"    "IMSSISSSTE" "MA48ME1SM"
 [96] "P14APOYOS"  "SCIAN"      "T_TRA"      "EMP_PPAL"   "TUE_PPAL"
[101] "TRANS_PPAL" "MH_FIL2"    "MH_COL"     "SEC_INS"

## 2.2 Select two columns

In [33]:
df_sdemt %>% select(MUN, LOC) %>% head(2) #Erase %>% head(2) to show the whole columns

  MUN LOC
1 2   1
2 2   1

## 2.3 Show summary of data

In [34]:
df_sdemt %>% select(MUN, LOC) %>% summary()

      MUN              LOC
 Min.   :  1.00   Min.   :   1.00
 1st Qu.:  6.00   1st Qu.:   1.00
 Median : 21.00   Median :   1.00
 Mean   : 40.96   Mean   :  40.02
 3rd Qu.: 50.00   3rd Qu.:   2.00
 Max.   :570.00   Max.   :9046.00

# 3. Recode data

## 3.1 Show the unique observations for one column

In [55]:
unique(df_sdemt$T_TRA)

[1] 1 0 2

## 3.2 Change all non-1 observations to zero

### 3.2.1 Using recode function

In [63]:
df_sdemt  %>%  mutate(Dummy_example = recode(T_TRA, 
                                             '1' = '1',
                                            '0'='0',
                                            '2'='0'))  %>%  select(Dummy_example) %>% head(3)

  Dummy_example
1 1
2 1
3 1

### 3.2.2 Using as.numeric function

In [68]:
df_sdemt  %>%  mutate(Dummy_example = as.numeric(T_TRA==1))   %>% head(3)

  R_DEF LOC MUN EST EST_D AGEB T_LOC CD_A ENT CON   ... P14APOYOS SCIAN T_TRA
1 0     1   2   10  117   0    1     1    9   40001 ... 0         18    1
2 0     1   2   10  117   0    1     1    9   40001 ... 0          6    1
3 0     1   2   10  117   0    1     1    9   40001 ... 0          0    1
  EMP_PPAL TUE_PPAL TRANS_PPAL MH_FIL2 MH_COL SEC_INS Dummy_example
1 2        2        0          3       6      4       1
2 2        2        0          3       2      2       1
3 0        0        0          0       0      0       1

### 3.2.3 Save the code from 3.2 into dataframe

In [69]:
df_sdemt = df_sdemt  %>%  mutate(Dummy_example = as.numeric(T_TRA==1)) 
#Now we over-wrote our old dataframe with new column you will notice on the far right

df_sdemt %>% head(2)

  R_DEF LOC MUN EST EST_D AGEB T_LOC CD_A ENT CON   ... P14APOYOS SCIAN T_TRA
1 0     1   2   10  117   0    1     1    9   40001 ... 0         18    1
2 0     1   2   10  117   0    1     1    9   40001 ... 0          6    1
  EMP_PPAL TUE_PPAL TRANS_PPAL MH_FIL2 MH_COL SEC_INS Dummy_example
1 2        2        0          3       6      4       1
2 2        2        0          3       2      2       1